
<!DOCTYPE html>
<html lang="en"><head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1"><link type="application/atom+xml" rel="alternate" href="https://shihabyasin.github.io/feed.xml" title="Tech" /></head>
<style>@import url(/public/css/syntax/monokai.css);</style>
  <title>Tech</title>
  <!-- <link href="/public/css/bootstrap.min.css" rel="stylesheet"> -->

  <link href="/public/css/style.css" rel="stylesheet">
  <body>
  	<div class="container">
		<div class="sidebar">
			<div class="sidebar-item sidebar-header">
	<div class='sidebar-brand'>
		<a href="/about/">Tech</a>
	</div>
	<p class="lead">gist</p></div>

<div class="sidebar-item sidebar-nav">
	<ul class="nav">
      <li class="nav-title">Pages</li>
	  <li>
	  	<a class="nav-item" href="/">Articles</a>
	  </li>


































































































































































































































	        <li>
	        	<a class="nav-item" href="/about/">
	            	CV/Résumé
	            </a>
	        </li>















	</ul>
</div>

<div class="sidebar-item sidebar-nav">
  	<ul class="nav">
			<li class="nav-title">Categories</li>

	    <li>
	    	<a class="nav-item" href="/category/#Research">
				<span class="name">Research</span>
				<span class="badge">1</span>
	    	</a>
 		</li>

	    <li>
	    	<a class="nav-item" href="/category/#Projects">
				<span class="name">Projects</span>
				<span class="badge">1</span>
	    	</a>
 		</li>

	    <li>
	    	<a class="nav-item" href="/category/#NLP">
				<span class="name">NLP</span>
				<span class="badge">4</span>
	    	</a>
 		</li>

	    <li>
	    	<a class="nav-item" href="/category/#Algorithm">
				<span class="name">Algorithm</span>
				<span class="badge">7</span>
	    	</a>
 		</li>

	    <li>
	    	<a class="nav-item" href="/category/#ML">
				<span class="name">ML</span>
				<span class="badge">5</span>
	    	</a>
 		</li>

	    <li>
	    	<a class="nav-item" href="/category/#Python">
				<span class="name">Python</span>
				<span class="badge">27</span>
	    	</a>
 		</li>

	    <li>
	    	<a class="nav-item" href="/category/#VISION-AI">
				<span class="name">VISION-AI</span>
				<span class="badge">2</span>
	    	</a>
 		</li>

	    <li>
	    	<a class="nav-item" href="/category/#Django">
				<span class="name">Django</span>
				<span class="badge">2</span>
	    	</a>
 		</li>

	    <li>
	    	<a class="nav-item" href="/category/#Selenium">
				<span class="name">Selenium</span>
				<span class="badge">1</span>
	    	</a>
 		</li>

	    <li>
	    	<a class="nav-item" href="/category/#Celery">
				<span class="name">Celery</span>
				<span class="badge">1</span>
	    	</a>
 		</li>

	    <li>
	    	<a class="nav-item" href="/category/#Docker">
				<span class="name">Docker</span>
				<span class="badge">2</span>
	    	</a>
 		</li>

	    <li>
	    	<a class="nav-item" href="/category/#DataStructure">
				<span class="name">DataStructure</span>
				<span class="badge">2</span>
	    	</a>
 		</li>

	    <li>
	    	<a class="nav-item" href="/category/#MY-TECH-STACK">
				<span class="name">MY-TECH-STACK</span>
				<span class="badge">2</span>
	    	</a>
 		</li>

	    <li>
	    	<a class="nav-item" href="/category/#Certificates">
				<span class="name">Certificates</span>
				<span class="badge">2</span>
	    	</a>
 		</li>

	    <li>
	    	<a class="nav-item" href="/category/#DevOps">
				<span class="name">DevOps</span>
				<span class="badge">3</span>
	    	</a>
 		</li>

	  </nav>
	</ul>
</div>

<div class="sidebar-item sidebar-footer">
</div>
		</div>
		<div class="content">
			<article class="post">
	<header class="post-header home">
		<div class="post-title">
			CV/Résumé
		</div>
	</header>

	<div class="post-content">
		<h1 id="yasin-shihab">Yasin Shihab</h1>

<ul>
  <li><a href="">shihabyasin@gmail.com</a></li>
</ul>

<p><strong>Software people, love to code, practice software engineering ethics &amp; create soft-stuffs.</strong></p>

<p><strong>Technology domain interest:</strong> Software Development, Machine Learning,
Natural language processing, DevOps.</p>

<ul>
  <li>I also love to hear &amp; study people from different expertise like Philosophy, Mathematics, Physics, Cognitive Computational Neuroscience and Psychology.</li>
</ul>

<h3 id="my-tech-stack--my-short-cvrésumé"><a href="https://shihabyasin.github.io/my-tech-stack/2020/01/15/my-tech-stack.html"><strong>My Tech Stack</strong></a> | <a href="https://github.com/ShihabYasin/shihabyasin.github.io/blob/gh-pages/cv/Yasin_Resume.pdf">My Short CV/Résumé</a></h3>

<h3 id="check-detail-on----linkedin--github--projects--my-blog--research"><strong>Check detail on:</strong>    <a href="https://www.linkedin.com/in/yasinshihab/">LinkedIN</a> | <a href="https://github.com/ShihabYasin">Github</a> | <a href="https://shihabyasin.github.io/projects/2017/01/15/Projects.html">Projects</a> | <a href="https://shihabyasin.github.io/">My Blog</a> | <a href="https://shihabyasin.github.io/research/2017/01/15/Research.html">Research</a></h3>

<h2 id="education">Education:</h2>
<p>2011-2015 :   <strong>BSc, Computer Science and Engineering</strong>; Chittagong University of Engineering &amp; Technology, Bangladesh.</p>

<h2 id="industry-experience">Industry Experience:</h2>

<p><strong>Current: Senior Software Engineer @ TigerIT Bangladesh Ltd</strong></p>

<ul>
  <li>Developed production pipeline for Speech Recognition, Multilingual Machine Translation, Text to Speech System. Improved Bengali Phoneme Transcription Standard, Language Modeling/Integration.</li>
  <li>Developed <a href="https://web.archive.org/web/20220502095635/https://play.google.com/store/apps/details?id=com.ccp.comm&amp;hl=en_US&amp;gl=US">Commchat Android app’s</a> different ML/NLP &amp; phonetic typing features.</li>
  <li>Improved <a href="https://web.archive.org/web/20220502095537/https://play.google.com/store/apps/details?id=com.kindermate.kai&amp;hl=en_US">KinderMate Android Kids Video app’s</a> automatic question answering, topic modeling, turn text response generation, text/document similarity(LDA, tf-idf),sentiment analysis, exceptional question/slang filtering features.</li>
  <li>Developed audio preprocessing system that extracts only audio part from noisy wavs that extensively reduces human effort to prepare quality speech data from collected noisy speech data.</li>
  <li>Fine tuned/trained wav2vec2, BERT,XLSR ,WMT/NMT, Fairseq(LSTM,self-attention), kaldi models.</li>
  <li>Developed an app(Android, Flask) for collecting/editing speech &amp; text data, audio keyword search, audio events detection system.</li>
  <li>Improved image tampering classification(using VGG etc.), deepfake detection.</li>
  <li>Lead a data collection team for machine learning projects. Web scrapping, ETL.</li>
</ul>

<p><strong>Previous: Senior Software Engineer @ Samsung Electronics</strong></p>

<ul>
  <li>Developed Bengali Speech Recognition System with customized Bengali phonemes that earned a funded project from Samsung HQ(Seoul,South Korea) &amp; awarded icon of the month (July-August 2018) for outstanding contribution to the development of Bangla ASR.</li>
  <li>Code review,codebase improvement for Samsung SDK &amp; Tizen SDK,tracking/reproducing bug reports from app developers/user queries,find out solutions. This helps Samsung &amp; Tizen Developers a lot in the process of monetization using Samsung &amp; Tizen SDKs. Exposed with Zendesk, Confluence.</li>
  <li>Lead a team of 5 Masters Students from <a href="buet.ac.bd">BUET</a> with professor <a href="sites.google.com/site/abdullahadnan">Muhammad Abdullah Adnan, PhD(California San Diego,UCSD, USA)</a> on the development of large scale Bengali ASR for <a href="samsung.com/us/explore/bixby">Samsung Bixby AI assistant</a>, from data collection to data cleaning, deep learning architecture research, development, training, tuning &amp; optimization.</li>
  <li>Developed Intelligent Chat Agent (web) for Real Time UI/UX Expression based on Chat Context (NLU, LDA Topic Modeling, Corpora Based Feature Mapping).</li>
  <li>Published for Samsung: <a href="https://web.archive.org/web/20200705150821/https://www.aclweb.org/anthology/N19-1322/">“Customizing Grapheme-to-Phoneme System for Non-Trivial Transcription Problems in Bangla Language” on North American Chapter of the Association for Computational Linguistics (NAACL-HLT 2019), At Minneapolis, USA.</a></li>
  <li>Scrum, Smart documentation, agile activity, guided Samsung interns.</li>
  <li>Developed Samsung Apps(using Android SDK,Galaxy SDK,Tizen Mobile SDK,Tizen Wearables SDK), debugging &amp; testing Samsung Galaxy Watch Studio.</li>
  <li>Developed IoT Client-Server app. Worked on IoT stack of <a href="iotivity.org">IoTivity</a> in Linux, Tizen &amp; ARTIK board.</li>
  <li>Modified ColorPhun Game (Android) with Deeplearning AI to play between human &amp; AI.</li>
  <li>Wearable Smart Watch Face development (using Tizen Native APIs, Web APIs &amp; Samsung Galaxy Watch Studio) for Gear S2,S3,Fit2 etc.</li>
  <li>Samsung Developer advocacy, prepared dev tutorials, provided platform(C,C++,Web) support to Samsung devs.</li>
</ul>

	</div>
</article>
		</div>
	</div>
  </body>
</html>